USE [master]
GO
/****** Object:  Database [Kariyer]    Script Date: 26.07.2016 23:29:28 ******/
CREATE DATABASE [Kariyer]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Kariyer', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\Kariyer.mdf' , SIZE = 6144KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Kariyer_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\Kariyer_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Kariyer].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Kariyer]
GO
/****** Object:  Table [dbo].[CV]    Script Date: 26.07.2016 23:29:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CV](
	[ID] [uniqueidentifier] NOT NULL,
	[KULLANICI_ID] [uniqueidentifier] NOT NULL,
	[CV_BASLIK] [nvarchar](250) NULL,
	[AD] [nvarchar](50) NOT NULL,
	[SOYAD] [nvarchar](50) NOT NULL,
	[AD_SOYAD] [nvarchar](100) NOT NULL,
	[E_POSTA] [nvarchar](20) NOT NULL,
	[MESLEK] [nvarchar](200) NULL,
	[IS_DURUM] [tinyint] NULL,
	[DIGER_EPOSTA] [nvarchar](20) NULL,
	[TC_KIMLIK] [nchar](11) NOT NULL,
	[DOGUM_TARIH] [datetime] NOT NULL,
	[FOTOGRAF] [nvarchar](50) NULL,
	[UYRUK] [nvarchar](50) NOT NULL,
	[CINSIYET] [tinyint] NOT NULL,
	[ULKE] [uniqueidentifier] NULL,
	[SEHIR] [uniqueidentifier] NULL,
	[ADRES] [nvarchar](500) NULL,
	[CEP_TEL] [nvarchar](20) NULL,
	[DIGER_CEP] [nvarchar](20) NULL,
	[EV_TEL] [nvarchar](20) NULL,
	[IS_TEL] [nvarchar](20) NULL,
	[DAHILI] [nvarchar](5) NULL,
	[DOGUM_YER] [nvarchar](100) NULL,
	[MEDENI_DURUM] [tinyint] NOT NULL,
	[ASKERLIK_DURUM] [tinyint] NULL,
	[TERHIS_TARIH] [datetime] NULL,
	[UYE_TOPLULUKLAR] [nvarchar](500) NULL,
	[SIGARA] [bit] NULL,
	[SEYEHAT_DURUM] [nvarchar](50) NULL,
	[EHLIYET] [nvarchar](20) NULL,
	[HOBILER] [nvarchar](500) NULL,
	[FACEBOOK] [nvarchar](100) NULL,
	[LINKEDIN] [nvarchar](100) NULL,
	[TWITTER] [nvarchar](100) NULL,
	[GOOGLEPLUS] [nvarchar](100) NULL,
	[DEGISTIREN] [nvarchar](100) NULL,
	[DEGISTIRME_TARIH] [datetime] NULL,
	[OLUSTURAN] [nvarchar](100) NOT NULL,
	[OLUSTURMA_TARIH] [datetime] NOT NULL,
	[SILINDI] [bit] NOT NULL,
 CONSTRAINT [PK_OZGECMIS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CV_EGITIM]    Script Date: 26.07.2016 23:29:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CV_EGITIM](
	[ID] [uniqueidentifier] NOT NULL,
	[CV_ID] [uniqueidentifier] NOT NULL,
	[EGITIM_DURUM] [tinyint] NOT NULL,
	[EGITIM_DURUM_TIP] [tinyint] NOT NULL,
	[OKUL] [nvarchar](100) NOT NULL,
	[BOLUM] [nvarchar](100) NULL,
	[OGRETIM_DIL] [nvarchar](30) NULL,
	[EGITIM_TIP] [tinyint] NULL,
	[ULKE_AD] [nvarchar](50) NULL,
	[BASLANGIC_TARIH] [datetime] NOT NULL,
	[BITIS_TARIH] [datetime] NULL,
	[YAN_ANADAL] [bit] NULL,
	[CIFT_ANADAL] [bit] NULL,
	[DIGER_BOLUM] [nvarchar](100) NULL,
 CONSTRAINT [PK_CV_EGITIM] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CV_KARIYER]    Script Date: 26.07.2016 23:29:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CV_KARIYER](
	[ID] [uniqueidentifier] NOT NULL,
	[CV_ID] [uniqueidentifier] NOT NULL,
	[FIRMA] [nvarchar](200) NOT NULL,
	[POZISYON] [nvarchar](100) NOT NULL,
	[FIRMA_YER] [nvarchar](100) NULL,
	[SEKTOR] [nvarchar](50) NULL,
	[CALISMA_TIP] [tinyint] NOT NULL,
	[CALISMA_DURUM] [tinyint] NOT NULL,
	[BASLANGIC] [datetime] NOT NULL,
	[BITIS] [datetime] NULL,
	[AYRILMA_NEDEN] [nvarchar](100) NULL,
	[DENEYIM] [nvarchar](300) NULL,
 CONSTRAINT [PK_CV_KARIYER] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CV_NITELIK]    Script Date: 26.07.2016 23:29:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CV_NITELIK](
	[ID] [uniqueidentifier] NOT NULL,
	[CV_ID] [uniqueidentifier] NOT NULL,
	[NITELIK] [nvarchar](50) NOT NULL,
	[SEVIYE] [nvarchar](50) NOT NULL,
	[YIL] [nvarchar](10) NOT NULL,
	[ACIKLAMA] [nvarchar](200) NULL,
 CONSTRAINT [PK_CV_NITELIK] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CV_REFERANS]    Script Date: 26.07.2016 23:29:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CV_REFERANS](
	[ID] [uniqueidentifier] NOT NULL,
	[CV_ID] [uniqueidentifier] NOT NULL,
	[REFERANS_TIP] [tinyint] NOT NULL,
	[AD_SOYAD] [nvarchar](100) NOT NULL,
	[FIRMA] [nvarchar](100) NULL,
	[POZISYON] [nvarchar](100) NULL,
	[TEL] [nvarchar](20) NULL,
	[E_POSTA] [nvarchar](20) NULL,
 CONSTRAINT [PK_CV_REFERANS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[FIRMA]    Script Date: 26.07.2016 23:29:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FIRMA](
	[ID] [uniqueidentifier] NOT NULL,
	[FIRMA_AD] [nvarchar](200) NOT NULL,
	[TELEFON_1] [nvarchar](20) NOT NULL,
	[TELEFON_2] [nvarchar](20) NULL,
	[E_POSTA] [nvarchar](50) NOT NULL,
	[DIGER_E_POSTA] [nchar](50) NULL,
	[DEGISTIRILME_TARIH] [datetime] NULL,
	[DEGISTIREN] [nvarchar](100) NULL,
	[OLUSTURULMA_TARIH] [datetime] NOT NULL,
	[OLUSTURAN] [nvarchar](100) NOT NULL,
	[SILINDI] [bit] NULL,
 CONSTRAINT [PK_FIRMA] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[KULLANICI]    Script Date: 26.07.2016 23:29:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KULLANICI](
	[ID] [uniqueidentifier] NOT NULL,
	[FIRMA_ID] [uniqueidentifier] NULL,
	[AD] [nvarchar](50) NOT NULL,
	[SOYAD] [nvarchar](50) NOT NULL,
	[AD_SOYAD] [nvarchar](100) NOT NULL,
	[E_POSTA] [nvarchar](50) NOT NULL,
	[PAROLA] [nvarchar](50) NOT NULL,
	[TEKNIK_KULLANICI] [bit] NOT NULL,
	[FIRMAMI] [bit] NOT NULL,
	[AKTIF] [bit] NOT NULL,
	[SILINDI] [bit] NOT NULL,
 CONSTRAINT [PK_KULLANICI] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[CV]  WITH CHECK ADD  CONSTRAINT [FK_OZGECMIS_KULLANICI] FOREIGN KEY([KULLANICI_ID])
REFERENCES [dbo].[KULLANICI] ([ID])
GO
ALTER TABLE [dbo].[CV] CHECK CONSTRAINT [FK_OZGECMIS_KULLANICI]
GO
ALTER TABLE [dbo].[CV_EGITIM]  WITH CHECK ADD  CONSTRAINT [FK_CV_EGITIM_CV] FOREIGN KEY([CV_ID])
REFERENCES [dbo].[CV] ([ID])
GO
ALTER TABLE [dbo].[CV_EGITIM] CHECK CONSTRAINT [FK_CV_EGITIM_CV]
GO
ALTER TABLE [dbo].[CV_KARIYER]  WITH CHECK ADD  CONSTRAINT [FK_CV_KARIYER_CV_KARIYER] FOREIGN KEY([CV_ID])
REFERENCES [dbo].[CV] ([ID])
GO
ALTER TABLE [dbo].[CV_KARIYER] CHECK CONSTRAINT [FK_CV_KARIYER_CV_KARIYER]
GO
ALTER TABLE [dbo].[CV_NITELIK]  WITH CHECK ADD  CONSTRAINT [FK_CV_NITELIK_CV] FOREIGN KEY([CV_ID])
REFERENCES [dbo].[CV] ([ID])
GO
ALTER TABLE [dbo].[CV_NITELIK] CHECK CONSTRAINT [FK_CV_NITELIK_CV]
GO
ALTER TABLE [dbo].[CV_REFERANS]  WITH CHECK ADD  CONSTRAINT [FK_CV_REFERANS_CV] FOREIGN KEY([CV_ID])
REFERENCES [dbo].[CV] ([ID])
GO
ALTER TABLE [dbo].[CV_REFERANS] CHECK CONSTRAINT [FK_CV_REFERANS_CV]
GO
ALTER TABLE [dbo].[KULLANICI]  WITH CHECK ADD  CONSTRAINT [FK_KULLANICI_FIRMA] FOREIGN KEY([FIRMA_ID])
REFERENCES [dbo].[FIRMA] ([ID])
GO
ALTER TABLE [dbo].[KULLANICI] CHECK CONSTRAINT [FK_KULLANICI_FIRMA]
GO
USE [master]
GO

-- =============================================
-- Author:		Sefa Çaksu
-- Create date: 26.07.2016
-- Description:	Veri tabanının şu ana kadar oluşan tüm tabloları
-- =============================================