.baslik{
    font-weight:bold;
}

.z{
    color:red;
    font-weight:700;
    margin-left:4px;
}
.aciklama{
       vertical-align: top;
    padding: 9px 4px 4px 9px;
    color: #555;
    background-color: #fafaff;
    border-bottom: solid 1px #e9f3ff;
    line-height: 19px;
    font-size: 13px;
}

.cvaciklama{
       vertical-align: top;
    padding: 0px 4px 4px 9px;
    color: #555;
    background-color: #fafaff;
    border-bottom: solid 1px #e9f3ff;
    line-height: 19px;
    font-size: 13px;
}

.ornek{
    color:#06c;

}

.req{
    color:red;
    font-weight:700;
    font-size:13px;
}

.leo{
    position: fixed; text-align: center; height: 100%; width: 100%; top: 0; right: 0; left: 0; z-index: 9999999; background-color: #000000; opacity: 0.6;
}
.bokeh {
    font-size: 100px;
    width: 1em;
    height: 1.1em;
    position: relative;
    margin: auto;
    top:35%;
    border-radius: 100%;
    border: .01em solid rgba(31, 151, 220, 0.87);
    list-style: none;

}
.bokeh li {
    position: absolute;
    width: .2em;
    height: .2em;
    border-radius: 100%;
}
 .bokeh li:nth-child(1) {
    left: 50%;
    top: 0;
    margin: 0 0 0 -.1em;
    background: #00C176;
    -webkit-transform-origin: 50% 250%;
    transform-origin: 50% 250%;
    -webkit-animation: 
        rota 1.13s linear infinite,
        opa 3.67s ease-in-out infinite alternate;
    animation: 
        rota 1.13s linear infinite,
        opa 3.67s ease-in-out infinite alternate;
}

.bokeh li:nth-child(2) {
    top: 50%; 
    right: 0;
    margin: -.1em 0 0 0;
    background: #FF003C;
    -webkit-transform-origin: -150% 50%;
    transform-origin: -150% 50%;
    -webkit-animation: 
        rota 1.86s linear infinite,
        opa 4.29s ease-in-out infinite alternate;
    animation: 
        rota 1.86s linear infinite,
        opa 4.29s ease-in-out infinite alternate;
}

.bokeh li:nth-child(3) {
    left: 50%; 
    bottom: 0;
    margin: 0 0 0 -.1em;
    background: #FABE28;
    -webkit-transform-origin: 50% -150%;
    transform-origin: 50% -150%;
    -webkit-animation: 
        rota 1.45s linear infinite,
        opa 5.12s ease-in-out infinite alternate;
    animation: 
        rota 1.45s linear infinite,
        opa 5.12s ease-in-out infinite alternate;
}

.bokeh li:nth-child(4) {
    top: 50%; 
    left: 0;
    margin: -.1em 0 0 0;
    background: #88C100;
    -webkit-transform-origin: 250% 50%;
    transform-origin: 250% 50%;
    -webkit-animation: 
        rota 1.72s linear infinite,
        opa 5.25s ease-in-out infinite alternate;
    animation: 
        rota 1.72s linear infinite,
        opa 5.25s ease-in-out infinite alternate;
}

@-webkit-keyframes rota {
    from { }
    to { -webkit-transform: rotate(360deg); }
}

@keyframes rota {
    from { }
    to { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}

